

*, *:after, *:before{
	margin: 0;
	padding: 0;
	// font-family: 'Open Sans';
}

$orangeGoodOnline: #FF9900;
$openSans: 'Open Sans';
$futura: 'Futura';

h1,h2,h3,h4,h5,h6{
	font-family: $futura;
}

.btn{
	border: 3px solid #FF9900;
	color: #FF9900;
	font-size: 16px;
	font-weight: bold;
	font-family: $futura;
	padding: 10px 20px;
	&:hover{
		color: white;
		background: #FF9900;
	}
}

p{
	font-family: $openSans;
}
.container{
	width: 1200px;
	position: relative;
	margin: 0 auto;
	height: 100%;
}

header{
	.top{
		position: absolute;
		z-index: 99;
		left: 0;
		right: 0;
		.hamburger-icon{
			display: inline-block;
			background: #FF9900;
			border-radius: 50%;
			margin-top: 43px;
			&:hover{
				transition: 0.70s;
				-webkit-transition: 0.70s;
				-moz-transition: 0.70s;
				-ms-transition: 0.70s;
				-o-transition: 0.70s;
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
				cursor: pointer;
			}
			&.open{
				background: #4B4B4B;
			}
			img{
				padding: 22px;
			}
		}
		.logo{
			display: inline-block;
			position: relative;
			float: right;
			margin-top: 23px;
		}
	}
	.slider{
		position: relative;
		height: 95vh;
		width: 100%;
		.slide-one{
			background: url('../images/background-header-1.jpg');
			height: 100%;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			background-position:center center;
			.inner{
				z-index: 2;
				position: relative;
				color: white;
				top: 50%;
				transform: translateY(-50%);
				.text-box{
					background: #FAFAFA;
					box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
					width: 500px;
					color: #3E3E3E;
					position: relative;
					z-index: 8;
					padding: 30px 50px;
					h3{
						font-weight: bold;
						font-size: 24px;
						margin-bottom: 20px;
					}
					p{
						font-size: 16px;
						line-height: 201.4%;
					}
					.btn{
						margin-top: 20px;
					}
				}
				.text-box-bg{
					position: absolute;
					background: #FF9900;
					width: 500px;
					height: 100%;
					left: 11px;
					top: 11px;
				}
			}
			.overlay {
				background-color: rgba(36, 36, 36, 0.3);
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
			}
		}
		.scrolldown{
			position: absolute;
			bottom: 0;
			background: white;
			z-index: 99;
			left: 50%;
			border-top-left-radius: 50px;
			border-top-right-radius: 50px;
			img{
				padding: 30px;
				-webkit-animation: mover 0.7s infinite  alternate;
				animation: mover 0.7s infinite  alternate;
				-webkit-animation: mover 0.7s infinite  alternate;
				animation: mover 0.7s infinite  alternate;
			}
		}
	}
	.menu-overlay{
		position: fixed;
		right: -100%;
		top: 0;
		width: 100%;
		height: 95vh;
		z-index: 9;
		background: #FF9900;
		opacity: 0.7;
		-webkit-transition: right 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
		-moz-transition: right 0.5s ease-out;  /* Firefox 4-15 */
		  -o-transition: right 0.5s ease-out;  /* Opera 10.50–12.00 */
			 transition: right 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		&.open{
			left: 0;
		}
	}
	.menu{
		height: 120%;
		width: 60%;
		border-bottom-left-radius: 200%;
		border-top-left-radius: 200%;
		position: fixed;
		right: -60%;
		background: white;
		top: 0;
		z-index: 999;
		-webkit-transition: right 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
		-moz-transition: right 0.5s ease-out;  /* Firefox 4-15 */
		  -o-transition: right 0.5s ease-out;  /* Opera 10.50–12.00 */
			 transition: right 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		&.open{
			right: 0;
		}
		.menu-wrapper{
			width: 64%;
			margin-left: 24%;
			margin-top: 17%;
			overflow: hidden;
			nav{
				ul{
					li{
						list-style: none;
						ul{
							margin-top: -10px;
							li{
								a{
									font-weight: normal;
									font-family: $openSans;
									color: black;
									font-size: 14px;
								}
							}
						}
						a{
							h4{
								color: #FF9900;
								font-weight: bold;
								font-size: 20px;
								margin-top: 30px;
								margin-bottom: 30px;
							}
						}
					}
				}
				ul.two-column{
					column-count: 2;
				}
			}
		}
	}
}

@-webkit-keyframes mover {
    0% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
}